@mixin text-shadow {
    text-shadow: 2px 2px #000;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    @include text-shadow;
    text-align: center;
    font-weight: bold;
}
h2{
    color: #fff;
    font-size: 42px;
    @include text-shadow;
    text-align: center;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}
p{
    text-align: center;
    font-size: 26px;
    margin: 0;
}
.cta{
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: bold;
    background-color: green;
    font-style: 28px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    &:hover{
        background-color: darkgreen;
        cursor: pointer;
    }
}
.event-modal{
    border: 10px solid #000;
    background-color: #fff;
    overflow: auto;
    border-radius: 30px;
    &__wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 34px;
        width: 100%;
        max-width: 930px;
        border: 5px solid white;
        overflow: auto;
    }
    &__overlay{
        cursor: pointer;
        position: fixed;
        z-index: 9;
        min-height: 100vh;
        width: 100%;
        background: rgba(0,0,0,0.5);
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__date{
        padding: 15px;
        border-bottom: 10px solid #000;
        border-top: 10px solid #000;
    }
    &__talent{
        display: flex;
        .talent{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 25px;
            position: relative;
            flex: 1;
            &:first-child{
                justify-content: flex-start;
                h2{
                    text-align: left;
                }
            } 
            &:last-child {
                justify-content: flex-end;
                h2{
                    text-align: right;
                }
             }
             &:only-child {
                justify-content: center;
                h2{
                    text-align: center;
                }
             }
            &:nth-child(n+2):before{
                content: "";
                position: absolute;
                z-index: 2;
                width: 6px;
                height: 100%;
                left: -3px;
                top: 0;
                background-color: #000;
            }
        }
    }
}